h1, h2, h3, p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Poppins;
    margin: 0px;
}

* {
    border: solid red 2px;
}